language: node_js
sudo: required
os:
  - osx
  - linux
node_js:
  - "dev"
  - "stable"
  - 10
  - 9
  - 8
  - 7
install:
  - npm i || exit 1
script:
  - npm run build || exit 1
  - node src/Demo.bs.js || exit 1
