language: node_js
sudo: true
os:
  - linux
node_js:
  - 10
  - 9
  - 8
before_install:
  - apt-get install opam
install:
  - npm i || exit 1
  - opam install cmdliner
script:
  - npm run build || exit 1
  - node src/Demo.bs.js || exit 1
